*{
  margin: 0;
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

body {
  margin:0% 26.25% 0% 26.25%;
  /* background:chocolate; */
  background-image: linear-gradient(90deg,rgba(58, 58, 158, 0.8),rgba(136, 136, 206, 0.7)),
  url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
  background-size:cover;
  background-attachment: fixed;
  color: white;
  font-family:  sans-serif;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

header {
  margin: 0 0 5% 0;
}
h1 {
  font-weight: 200;
  text-align: center;
}
#description {
  font-size: 1.25rem;
  text-align: center;
  font-style: italic;
}

.back {
  background-color: rgba(27, 27, 50, 0.8);
 font-size: 135%;
  border-radius: 5px;
 padding: 2.5rem; 
}
.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
.form-box {
  font-size: 1.1rem;
  width: 100%;
  height: 33px;
  border-style: solid;
  border-radius: 5px;
  /* color: gray; */
}
.form-box:focus {
  border-color: rgb(62, 197, 250);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(33, 126, 248, 0.3);
}
 
p {
  margin: 0;
  font-size: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
option[disabled] {
  color: gray;
}
option:not([disabled]) {
  color: black;
}
.radio-btn {
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.btn-box{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn {
  width: 49%;
  height: 35px;
  /* background: #37af65; */
  background: #004045;
  border-color: #005f36b5;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  height: 40px;
  color: #ffffff;
  font-size: 1.25rem;
}
.btn:hover {
  border-color: rgb(26, 128, 0);
} 

.res {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255); 
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 550;
  width: 100%;
  height: 60px;
  border:2px solid white;
  border-radius: 5px;
  background-color: rgba(98, 151, 151, 0.4);
}

.risk {
  background-image: linear-gradient(90deg, rgba(158, 58, 58, 0.8), rgba(206, 136, 136, 0.7)),
  url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
}
.risk-back{
  /* background-color: rgba(50, 27, 27, 0.8); */
  background-color: rgba(78, 42, 42, 0.8);
}
.risk-res{
  background-color: rgba(47, 27, 27, 0.4);
  color:rgb(250, 99, 99);
  font-weight: 600;
}

.norisk {
  background-image: linear-gradient(90deg, rgba(58, 158, 103, 0.8), rgba(136, 206, 175, 0.7)),
  url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
}
.norisk-back {
  background-color: rgba(41, 105, 60, 0.8);
}
.norisk-res{
  background-color: rgba(15, 54, 23, 0.4);
  color: rgb(201, 251, 65);
  font-weight: 600;
}
  /* @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  } */